<nav>
    <a class="nav-button" data-section="hero" aria-label="Hero" href="#hero"><i class="fas fa-user-alt" aria-hidden="true"></i></a>
    <a class="nav-button" data-section="work" aria-label="Work" href="#work"><i class="fas fa-briefcase" aria-hidden="true"></i></a>
    <a class="nav-button" data-section="projects" aria-label="Projects" href="#projects"><i class="fas fa-project-diagram" aria-hidden="true"></i></a>
    <a class="nav-button" data-section="toolkit" aria-label="Toolkit" href="#toolkit"><i class="fas fa-tools" aria-hidden="true"></i></a>
    {{! <a class="nav-button" data-section="info" aria-label="Info" href="#info"><i class="fas fa-info" aria-hidden="true"></i></a> }}
</nav>
