button, a.button {
  margin: 0;
  border: 0;
  color: #fff;
  background: #3d5fe1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  min-width: 100px;
  display: inline-block;
  text-align: center;
  outline: none;
  &:not(:last-of-type) {
    margin-right: 1rem;
  }
  &:hover{
    color: white;
  }
}
