.card {
    border-radius: $card-radius;
    box-shadow: $card-box-shadow;
    background: $card-background;
    color: $card-color;
    .card-title {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        padding: 1rem;
        color: $card-title-color;
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        align-items: center;

        .card-title-label {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .card-description {
        margin: 0;
        font-size: 1rem;
        padding: 1rem;
    }
    .card-tags {
        padding: 1rem;
    }
    .card-buttons {
        margin-top: auto;
        padding: 1rem;
    }
}
