form {
    padding: 1rem;

    button {
        margin-top: 1rem;
    }
}

label,
input,
textarea {
    display: block;
    width: 100%;
    font-size: 1.6rem;
}
label {
    &:not(:first-of-type) {
        padding-top: 1em;
    }
    color: $input-label-color;
    font-size: 1.6rem;
}
input,
textarea {
    margin-bottom: 1rem;
    font-size: 20px;
    border-radius: 0.25rem;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
    background: $input-background;
    border: 0;
    color: $input-color;
    font-family: $body-font;
}

textarea {
    resize: vertical;
}
