<div class="card">
    <h2 class="card-title">Links</h2>
    <div class="links">
        {{#sectionItems.info.links}}
            <div class="link">
                <img class="lazy" src={{image}} alt={{label}} />
                <a rel="noopener" target="_blank" href={{link}}>{{label}}</a>
            </div>
        {{/sectionItems.info.links}}
    </div>
</div>
