<section id="toolkit-other" class="card">
    <h2>Other</h2>
    <ul class="skills">
        {{#sectionItems.other}}
            {{> ../components/skill-item}}
        {{/sectionItems.other}}
    </ul>
</section>