<section id="toolkit-backend" class="card">
    <div class="title">Back-end</div>
    <ul class="skills">
        {{#sectionItems.backend}}
            {{> ../components/skill-item}}
        {{/sectionItems.backend}}
    </ul>
</section>