<section id="toolkit-frontend" class="card">
    <div class="title">Front-end</div>
    <ul class="skills">
        {{#sectionItems.frontend}}
            {{> ../components/skill-item}}
        {{/sectionItems.frontend}}
    </ul>
</section>