<section id="toolkit-frontend" class="card">
    <h2>Front-end</h2>
    <ul class="skills">
        {{#sectionItems.frontend}}
            {{> ../components/skill-item}}
        {{/sectionItems.frontend}}
    </ul>
</section>