<section id="toolkit-backend" class="card">
    <h2>Back-end</h2>
    <ul class="skills">
        {{#sectionItems.backend}}
            {{> ../components/skill-item}}
        {{/sectionItems.backend}}
    </ul>
</section>