<section id="toolkit-other" class="card">
    <div class="title">Other</div>
    <ul class="skills">
        {{#sectionItems.other}}
            {{> ../components/skill-item}}
        {{/sectionItems.other}}
    </ul>
</section>