<section id="projects">
    <h2 class="text-center">Projects</h2>
    <div class="project-section">
        {{#sectionItems.projects}}
            {{> ../components/work-item}}
        {{/sectionItems.projects}}
    </div>
</section>
