<section id="toolkit">
    <h1 class="text-center">Toolkit</h1>
    <div class="toolkit-sections">
        {{> ../subsections/toolkit_frontend}}
        {{> ../subsections/toolkit_backend}}
        {{> ../subsections/toolkit_other}}
    </div>
</section>
