<section id="work">
    <h2 class="text-center">Work</h2>
    <div class="work-section">
        {{#sectionItems.work}}
            {{> ../components/work-item}}
        {{/sectionItems.work}}
    </div>
</section>
