<section id="work">
    <h1 class="text-center">Work</h1>
    
    <div class="work-section">
        {{#sectionItems.work}}
            {{> ../components/work-item}}
        {{/sectionItems.work}}
    </div>
</section>
