section#hero {
    width: 100%;
    @include xs { height: calc(100vh - 96px); }
    @include sm { height: calc(100vh - 96px); }
    @include md { height: 100vh }
    @include lg { height: 100vh }
    @include xl { height: 100vh }

    div.hero-canvas {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        canvas {
            position: absolute;
            top: 0;
            left: -96px;
            width: calc(100% + 96px);
            height: 100%;
        }

        div.hero-card {
            position: relative;
            z-index: 5;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @include xs { padding: 2rem; }
            @include sm { padding: 3rem; }
            @include md { padding: 4rem; }
            @include lg { padding: 4rem 8rem; }
            @include xl { padding: 4rem 8rem; }

            picture.hero-card-image{
                img {
                    position: relative;
                    height: 250px;
                    width: 250px;
                    margin-bottom: 1rem;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                }
            }
            div.hero-card-name {
                margin-bottom: 0.5rem;
                color: $card-title-color;
                @include xs { font-size: 2rem; }
                @include sm { font-size: 2rem; }
                @include md { font-size: 3rem; }
                @include lg { font-size: 3rem; }
                @include xl { font-size: 3rem; }
            }
            div.hero-card-subtitle {
                margin-bottom: 1rem;
                @include xs { font-size: 1rem; }
                @include sm { font-size: 1rem; }
                @include md { font-size: 2rem; }
                @include lg { font-size: 2rem; }
                @include xl { font-size: 2rem; }
            }
            div.hero-card-links{
                display: flex;
                width: 100%;
                margin-top: 1rem;
                justify-content: center;
                align-items: center;
                div.link{
                    flex: 1;
                    a{
                        display: inline-block;
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}
