section#toolkit{
    div.toolkit-sections{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        
        @include xs { flex-direction: column; }
        @include sm { flex-direction: column; }
        @include md { flex-direction: column; }
        @include lg { flex-direction: row; }
        @include xl { flex-direction: row; }
        section{
            flex: 1;
            width: 100%;
            margin-bottom: 2rem;
            @include xs {
                flex: 1 1 auto;
            }
            @include sm {
                flex: 1 1 auto;
            }
            @include md {
                flex: 1 1 auto;
            }
            @include lg {
                flex: 0 1 calc(50% - 1rem);
                &:not(:last-child){
                    margin-right: 2rem;
                }
            }

            h2{
                margin-top: 0;
                margin-bottom: 0;
                padding: 1rem;
                color: $card-title-color;
                background: rgba(255,255,255,.1);
            }
            ul.skills{
                padding: 1rem;
                margin: 0;
                list-style: none;
                li.skill{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 1.5rem;
                    img.logo{
                        height: 25px;
                        width: 25px;
                    }
                    span.label{
                        text-indent: 0.5rem;
                    }
                }
            }
        }
    }
}

