$body-font: "Montserrat", sans-serif;
$body-color: #fff;
$body-background: #16171b;
$body-scrollbar-color: #fff #16171b;

$link-color: #ababab;
$link-color-hover: #fff;

$navbar-color: #808080;
$navbar-desktop-background: transparent;
$navbar-mobile-background: #16171b;

$navbar-nav-button-color: #ababab;
$navbar-nav-button-background: #2e2e2e;
$navbar-nav-button-hover-color: #e0e0e0;
$navbar-nav-button-hover-background: #2e2e2e;
$navbar-nav-button-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

$card-color: #ababab;
$card-background: #2e2e2e;
$card-box-shadow: 0 0 5px 0 #080808;
$card-radius: 5px;
$card-title-color: #e0e0e0;

$tag-color: #ababab;
$tag-background: #3f3f3f;
$tag-padding: 0.3rem;

$input-label-color: #fff;
$input-background: #434343;
$input-color: #fff;