@import "mixins/breakpoints";
@import "colors";

@import "components/card";
@import "components/buttons";
@import "components/heading";
@import "components/form";
@import "components/tag";
@import "components/navbar";
@import "components/work-item";
@import "layout/hero";
@import "layout/toolkit";
@import "layout/work";
@import "layout/projects";
@import "layout/info";
@import "layout/info_links";

html {
  background: $body-background;
  color: $body-color;
  font-family: $body-font;
  scrollbar-color: $body-scrollbar-color;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  main#content {
    @include xs {
      width: calc(100% - 2rem);
      margin: 0 1rem 96px 1rem;
      padding-bottom: 96px;
    }
    @include sm {
      width: calc(100% - 2rem);
      margin: 0 1rem 96px 1rem;
      padding-bottom: 96px;
    }
    @include md {
      width: calc(100% - 96px - 1rem);
      margin: 0 1rem 2rem 96px;
    }
    @include lg {
      width: calc(100% - 96px - 1rem);
      margin: 0 1rem 2rem 96px;
    }
    @include xl {
      width: calc(100% - 96px - 1rem);
      margin: 0 1rem 2rem 96px;
    }
  }
}

section{
  &.full{
    min-height: 100%;
    min-width: 100%;
  }
  &.padding{
    padding: 1rem;
  }
}

section.padding {
  padding: 1rem;
}

.text-center{
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color 0.3s ease-in-out;
  &:hover{
    color: $link-color-hover;
  }
}

h1{
  margin: 0;
  padding: 2.4rem 0;
}